@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --color-brand: #178f23;
  --color-brand-hover: #12701b;
}

body {
  background-color: #f9fafb;
  color: #000000;
  font-family: var(--font-sans);
  min-height: 100vh;
}

input,
select,
textarea {
  background-color: #ffffff;
  color: #000000;
  border-color: #e5e7eb;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #000000;
  outline: none;
}